h1 {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

.completed span {
  text-decoration: line-through;
  opacity: 0.6;
}

.deleted {
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
